<!DOCTYPE html>
<html>
	<head>
		<title>Teste</title>
	</head>
	<body>
		
		<h1>Alguma coisa</h1>
		

		<script src="socket.io-client/socket.io.js"></script>
		<script>
			var socket = io.connect();
			socket.on('someone-connected', function(data) {
				console.log('Someone connected! Online now: %s', data);
				console.log(data);
				console.log('---');
			});
			socket.on('someone-disconnected', function(data){
				console.log('Someone disconnected! Online now: %s', data);
				console.log('---');
			});
		</script>
	</body>
</html>